#additionalImagesProductSearch, #additionalImagesProductSelected, #additionalImagesUploaderForm, #additionalImagesUploaderImagesBox {
    margin: 20px 0px;
}

.productSearchResult {
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 2px;
    border: 1px solid grey;
    border-radius: 5px;
    list-style: none;
}

.productSearchResult:hover {
    background: lightgray;
    border: 1px solid #000;
}

.additionalImagesUploaderImage {
    word-wrap: break-word;
}

#additionalImagesUploaderForm > div > div > div {
    background: lightblue;
    padding: 30px 10px;
    margin: 8px 0px;
    border: 1px solid #000;
}

#additionalImagesUploaderImagesBox h3 {
    text-align: center;
}